<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>메시지함</title>
</head>
<body style="text-align:  center">
<h2 th:text="|${nick}님의 메시지함|"></h2>
<table>
    <thead>
    <h2>받은메시지</h2>
    <tr>
        <th>내용</th>
        <th>보낸사람</th>
        <th>받은사람</th>
        <th>받은시각</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="list : ${rev}">
        <td th:text="${list.contents}"></td>
        <td th:text="${list.senderNick}"></td>
        <td th:text="${list.receiverNick}"></td>
        <td th:text="${list.receivedTime}"></td>
    </tr>
    </tbody>
</table>
<table>
<thead>
    <h2>보낸메시지</h2>
    <tr>
        <th>내용</th>
        <th>보낸사람</th>
        <th>받은사람</th>
        <th>받은시각</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="list : ${sent}">
        <td th:text="${list.contents}">내용</td>
        <td th:text="${list.senderNick}"></td>
        <td th:text="${list.receiverNick}"></td>
        <td th:text="${list.receivedTime}"></td>
    </tr>
    </tbody>
</table>
<div>
    <a th:href="@{/love/main}">메인화면</a>
</div>
</body>
</html>
<style>

    table {
        margin: auto;
        text-align: center;
        border: 1px solid peachpuff;
    }
    td {
        border-left: 1px solid peachpuff;

        border-right: 1px solid peachpuff;
    }
    a {
        margin-left: -3px;
        text-decoration: none;
        color: black;
        font-size: 1.2em;
        text-align: center;
        font-weight: bold;

    }

    a:hover {
        background-color: peachpuff;
    }</style>