<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="/css/style.css" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/56461ea292.js" crossorigin="anonymous"></script>
    <title>love</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="google-site-verification" content="pOYZ-pLe8pPBsq1osm5knkJBXph-sdDHJJGI5O_s5q8" />
</head>
<body style="text-align: center">

<div class="container">
    <h1>럽플</h1>
    <p class="lead"></p>
    <h3 style="text-align: center" >
        나와 같은 공간에있는 이성에게 호감을 표현하세요
    </h3>
    <div class="login-container" style="text-align: left">
<!--        <a th:text="환영합니다" style="text-align: left"></a>-->
        <a class="login" th:if="${not #strings.isEmpty(member)}"  href="/logout" role="button"
        th:text="|${member}님 환영합니다!|" style="text-align: left; text-decoration: none";>
        </a>
        <a th:if="${#strings.isEmpty(member)}" href="/oauth2/authorization/google" class="btn btn-success active" role="button" style="text-decoration: none"
        >구글아이디로 로그인하기</a>
        </div>

</div> <!-- /container -->
    <div  style="text-align: justify" >
    <a th:if="${not #strings.isEmpty(member)}" href="/member/profile"  class="btn active" role="button" style="color: darksalmon; text-decoration: none;  font-size: x-large" >럽플 시작하기</a>

    </div>
<!--    <div>-->
<!--&lt;!&ndash;    <a th:class="toggleBtn"><i class="fa-solid fa-bars"></i></a>&ndash;&gt;-->
<!--    </div>-->
    <img src="/images/init/background.png" style="width: 100%" height="620">
</body>
<footer>
    <div th:replace="fragments/footer :: footer" />
</footer>

</html>
<style>
    a.login:hover:after {
        content: '로그아웃';
        animation: linear;
    }

    a.login:hover {


    }


</style>