<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<style>
    .fieldError {
        border-color: #bd2130;
    }
</style>
<head>
    <meta charset="utf-8">
    <h1>LoveLove</h1>
    <h2 th:text="|${member}님 주위의 이성|"></h2>

</head>
<body>
<div id="map" style="width:800px;height:600px;">
    <script th:inline="javascript" src="http://code.jquery.com/jquery-latest.js"></script>
    <script th:inline="javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=e555062ab88e1ebe1463187ab4a9bcb9&libraries=services,cluster"></script>
</div>
</body>
<script th:inline="javascript">

    navigator.geolocation.watchPosition(function (position) {

        var lat = position.coords.latitude;
        var lon = position.coords.longitude;
        var locPosition = new kakao.maps.LatLng(lat, lon);



        // var markers = [];
        //
        // var mk = new kakao.maps.Marker({
        //     map: map,
        //     position: ${target}
        // })
        var mapOption = {

            center: locPosition, // 지도의 중심좌표
            level: 3, // 지도의 확대 레벨
            mapTypeId: kakao.maps.MapTypeId.ROADMAP // 지도종류
        };
        // 지도를 생성한다

        var map = new kakao.maps.Map(mapContainer, mapOption);
        var imageSrc = "/images/heart.svg"
        var imageSize = new kakao.maps.Size(24, 35);
        var markerImage = new kakao.maps.MarkerImage(imageSrc, imageSize);

        // 마커를 생성합니다
        var geocoder = new kakao.maps.services.Geocoder();


        var callback = function (result, status) {
            if (status === kakao.maps.services.Status.OK) {
                console.log(result);
                console.log(location);
                getJson();
                // return geocoder[0].code;

            } else (console.log(result, status))

        };

        geocoder.coord2RegionCode(lon, lat, callback);

        let jsonData = {
            'lat': lat,
            'lon': lon,
        };
        // 주변 이성 DB 탐색
        function getJson() {
            $.ajax({
                type: "post",
                url: "/love/main",
                dataType : "json",
                // headers : {'Authorization':'KakaoAK {e555062ab88e1ebe1463187ab4a9bcb9}'},
                data: jsonData,
                success: function (d) {
                    // var data = JSON.parse.d;
                    console.log(d, typeof (d))
                    var positionList = new Array();
                    var contents = new Array();
                    var img = new Array();
                    for (var i = 0; i < d.name.length; i++) {
                        positionList.push(new kakao.maps.LatLng(d.Clat[i], d.Clon[i]));

                        contents.push(d.name[i]);

                        var placeName = document.createElement("div")
                        placeName.innerHTML = contents[i];
                        placeName.setAttribute("names", contents[i])
                        img.push(d.images[i]);
                        var placeImg = document.createElement("img");
                        placeImg.setAttribute("src", d.images[i]);

                        // positionList.push(d.Clat[i], d.Clon[i]);
                        // var locs = new kakao.maps.LatLng(d.Clat[i], d.Clon[i]);
                    }
                    console.log(positionList);
                    console.log(contents);



                    //controller 에서 받아온 find list 를 맵에 추가
                    for (var i = 0; i < positionList.length; i++) {

                        var marker = new kakao.maps.Marker({
                            map: map,
                            position: positionList[i],
                            image: markerImage,
                            clickable: true,

                        });
                        // alert(d.name);

                        var cont = '<div class="wrap">';
                        cont += '    <div class="head">';
                        cont += '        <div class="placeName"><div class="close" onclick="closeOverlay()" title="닫기"></div>';
                        cont += '        </div>';
                        cont += '        <div class="body">';
                        cont += '        <h3 text=${contents[i]}></h3>';
                        cont += '            <div class="img">';
                        cont += '                <img src=img[i] width="73" height="70">';
                        cont += '           </div>';
                        cont += '            <div class="desc">';
                        cont += '                <div class="ellipsis">제주특별자치도 제주시 첨단로 242</div>';
                        cont += '                <div class="jibun ellipsis">(우) 63309 (지번) 영평동 2181</div>';
                        cont += '                <div><a href="https://www.kakaocorp.com/main" target="_blank" class="link">홈페이지</a></div>';
                        cont += '            </div>';
                        cont += '        </div>';
                        cont += '    </div>';
                        cont +=    '</div>';

                        var infoWindow = new kakao.maps.InfoWindow({
                            content: contents[i] + img[i], // 인포윈도우에 표시할 내용
                            // content: cont,
                            removable: true,
                        });
                        // kakao.maps.event.addListener(marker, 'mouseover', makeOverListener(map, marker, infoWindow));
                        // kakao.maps.event.addListener(marker, 'mouseout', makeOutListener(infoWindow));
                        kakao.maps.event.addListener(marker, 'click', makeClickListener(map, marker, infoWindow));

                    }
                    //클릭 이벤트 발생 함수
                    function makeClickListener(map, marker, infoWindow) {
                        return function () {
                            infoWindow.open(map, marker);
                        };
                    }
                    function makeOverListener(map, marker, infoWindow) {
                        return function() {
                            infoWindow.open(map, marker);
                        };
                    }

                    // 인포윈도우를 닫는 클로저를 만드는 함수입니다
                    function makeOutListener(infoWindow) {
                        return function() {
                            infoWindow.close();
                        };
                    }
                },
                error: function (request, status, error) {
                    alert("code:" + request.status + "\n" + "message:" + request.responseText + "\n" + "error:" + error);
                }
            }).done(function (data) {
            });
        }

    });

    var mapContainer = document.getElementById('map'); // 지도를 표시할 div


    var options = {
        enableHighAccuracy: true,
        timeout: 5000,
        maximumAge: 0
    };
</script>
</html>

